<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="mobile-web-app-capable" content="yes">
        <title>Weylus</title>
        <link rel="stylesheet" href="style.css">
        <script src="lib.js"></script>
        <script>
            run("{{access_code}}", "{{websocket_port}}", "{{log_level}}");
        </script>
    </head>

    <body>
        <video id="video" autoplay muted defaultMuted playsinline></video>
        <div id="settings">
            <div id="handle">⠿</div>
            <div id="settings_scroll">
                <h2>Settings</h2>
                <section>
                    <label for="window">Capture:</label>
                    <select id="window"></select>
                    <button id="refresh">Refresh List</button>
                </section>
                <section>
                    <label>Frame Interval: <input type="number" min="0" id="frame_update_limit" value="0" /> ms</label>
                    <label><input type="checkbox" id="stretch" checked /> <span>Stretch Video</span></label>
                </section>
                <section>
                    <label><input type="checkbox" id="enable_mouse" checked /> <span>Enable Mouse</span></label>
                    <label><input type="checkbox" id="enable_stylus" checked /> <span>Enable Stylus</span></label>
                    <label><input type="checkbox" id="enable_touch" checked /> <span>Enable Touch</span></label>
                </section>
                <section>
                    <label {{#if (not stylus_support_enabled)}}class="hide"{{/if}}>
                        <input type="checkbox" id="stylus_support" checked />
                        <span>Produce Touch Events</span>
                    </label>
                    <label {{#if (not faster_capture_enabled)}}class="hide"{{/if}}>
                        <input type="checkbox" id="faster_capture" checked />
                        <span>Faster Capture</span>
                    </label>
                    <label {{#if (not capture_cursor_enabled)}}class="hide"{{/if}}>
                        <input type="checkbox" id="capture_cursor" />
                        <span>Capture Cursor</span>
                    </label>
                </section>
                <section id="displayoptions">
                    <label id="leftylabel"><input type="checkbox" id="lefty" />Swap</label>
                    <label id="vanish">Hide until Reload</label>
                </section>
                <section id="log_section" class="hide">
                    <label>Log<pre class="log" id="log"/></label>
                </section>
            </div>
        </div>
    </body>

</html>
