<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="mobile-web-app-capable" content="yes">
        <title>Weylus</title>
        <link rel="stylesheet" href="style.css">
        <script src="lib.js"></script>
        <script>
            let password = "{{password}}";
            let websocket_port = "{{websocket_port}}";
            run(password, websocket_port);
        </script>
    </head>

    <body>
        <video id="video" autoplay muted defaultMuted playsinline></video>
        <div id="settings">
            <div id="handle">⠿</div>
            <h2>Settings</h2>
            <section>
                <label for="window">Capture window:</label>
                <select id="window"></select>
            </section>
            <section>
                <label><input type="checkbox" id="stretch" checked /> Stretch Video</label>
            </section>
            <section>
                <label><input type="checkbox" id="stylus_support" checked /> Stylus Support</label>
            </section>
            <section>
                <label><input type="checkbox" id="enable_mouse" checked /> Enable Mouse</label>
                <label><input type="checkbox" id="enable_stylus" checked /> Enable Stylus</label>
                <label><input type="checkbox" id="enable_touch" checked /> Enable Touch</label>
            </section>
            <section>
                <label><input type="checkbox" id="faster_capture" checked />Faster Capture</label>
                <label><input type="checkbox" id="capture_cursor" checked />Capture Cursor</label>
            </section>
        </div>
    </body>

</html>
